
{{#each this}}
<li class="photo-card">
  <div class="spinner"></div>
  <div class="photo-card__image-box">
    <img class="photo-card__image" 
    src={{webformatURL}} 
    data-source={{largeImageURL}} 
    alt="{{tags}}" 
    data-alt="{{tags}}" 
    width="500"/>
  </div>
  <ul class="photo-card__stats">
    <li class="photo-card__stats-item">
        <i class="material-icons">thumb_up</i>
        <p class="photo-card__stats-value">{{likes}}</p>   
    </li>
    <li class="photo-card__stats-item">
        <i class="material-icons">visibility</i>
        <p class="photo-card__stats-value">{{views}}</p>
    </li>
    <li class="photo-card__stats-item">
        <i class="material-icons">comment</i>
        <p class="photo-card__stats-value">{{comments}}</p>
    </li>
    <li class="photo-card__stats-item">
        <i class="material-icons">cloud_download</i>
        <p class="photo-card__stats-value">{{downloads}}</p>
    </li>
    </ul>
</li>
{{/each}}