<div class="slider__image-thumb">
    <img 
        src="{{source}}" 
        alt="{{alt}}" 
        class="slider__image {{subClass}}" 
        width="1280" 
        height="720" 
        style="
            transform: translateX({{translateX}});
            z-index: {{zIndex}};
            opacity: {{opacity}};
            transition: transform 500ms linear, opacity 500ms linear;
            " 
    />
</div>